.about-content{
  height: 100%;
  width: 100%;
  background-color:  $darkblue;
  background:rgba(0,0,0,0.5);

  color: $gray;
  align-content: center;
  display: block;
  padding-top: 10em;
  padding-bottom: 40em;



  table{
    margin-top: 5%;
    margin-left: 25%;
    border: 2px solid white;
    border-radius: 3px;
    tr{

    }
    td{
      padding: 2em;
    }
  }
  p{

    font-family: Lato;
    font-style: strong;
    font-size: 32px;
    text-align: center;
  }

  .ex{

  }



}
