.about-content{
  margin: 0;

  height: 100%;
  width: 100%;
  background-color:  $darkblue;
  background:rgba(0,0,0,0.5);

  color: $gray;
  align-content: center;
  display: block;
  padding-top: 15em;
  padding-bottom: 10em;


        h2{
          color: $white;
          text-align: center;
        }

        table{
          margin-top: 5%;
          margin-left: 24%;
          border: 2px solid white;
          border-radius: 3px;
          .top{
              font-style: strong;

          }
          td{
            padding: 2em;
          }
          td:hover{
            background-color: $white;
            color: $darkblue;
          }
        }
        p{
          font-family: Lato;
          font-style: strong;
          font-size: 32px;
          text-align: center;
        }
  canvas{

    .knob{
      position: relative;
    }
    margin-left: 43%;
    padding: 3em;

  }






}
