.contact{
  width: 100%;
  height: 100%;
  margin: 0;


  padding: 5em;

  background:rgba(25,25,25,0.5);


  h2{
    text-align: center;
    font-size: 1.5em;
    color: $white;
  }
  ol{
    display: inline-block;
    margin-left: 25%;
    list-style-type: none;
    background-color: $white;
  }
  li{
    padding: 2em;
    color: $darkblue;

  }
  p{
    text-align: center;
  }
}
