.contact{

  height: 40em;



  padding: 5em;

  background:rgba(25,25,25,0.5);

  text-align: center;


  h1{

    text-align: center;
    margin-right: 10%;
    font-size: 1.5em;
    color: $white;
  }
  form{
    display: inline-block;
    margin: 0 auto;
    margin-right: 15%;
    width: 3em;
    padding: .5em;
    input{
      background-color: $lightblue;
      opacity: .4;
      border: none;
      color: $white;

    }
    p{
      color: $white;
      padding: .5em;
      font-style: bold;

    }
  }

}
