.features-content{
  margin: 0;

  height: 100%;
  background:rgba(255,255,255,0.5);
  padding: 4em;


  h1{
    font-size: 2em;
    color: $darkestblue;
    margin-left: 10%;
    background: rgba(255,255,255,0.7);
    padding: .5em;
    padding-left: .3em;
    @include border-left-radius(3px);

  }
  ol{
    background: white;
    padding: 2em;
    list-style-type:none;
  }
  li{
    color: $darkblue;
    padding: 1em;
    font-size: 16px;
    font-style: strong;
  }
}
